body {
    font-size: 18px;
    margin-left: 25px;
    margin-right: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

#game-intro {
    color: #fff;
    text-align: center;
    background-color: #5590FE;
    padding: 25px;
    border-radius: 15px;
    margin-top: 20px;
    width: 80%;
    margin: 0 auto;
}

#options-con {
    display: flex;
    justify-content: center;
}

#options {
    list-style: none;
    padding: 0;
}

#options li {
    text-align: center;
    border-radius: 20px;
    width: 400px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#options li a {
    flex-grow: 1;
    color: #fff;
    background-color: #70AF89;
    padding: 20px;
    margin-top: 25px;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
}