body {
    overflow-x: hidden;
    font-family: arial, helvetica, sans-serif;
    margin-left: 25px;
    margin-right: 25px;
}

.hidden {
    display: none;
}

#scoring {
    display: flex;
    flex-direction: column;
}

#scoring p {
    margin: 5px;
}

#mult {
    flex-row: 2;
}

#seperator {
    font-size: 10px;
}

#total-container {
    display: flex;
    justify-content: space-between;
}

#game-area {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#play-background {
    height: 150px;
    width: 600px;
    margin-top: 16px;
    margin-bottom: 16px;
    align-self: center;
    border-radius: 10px;
    border: 4px solid #232323;
    position: absolute;
}

#play-area {
    padding: 0;
    list-style: none;
    display: flex;
    align-self: center;
    height: 150px;
    width: 600px;
    border-radius: 10px;
    z-index: 20;
}

#play-area img {
    margin: 10px;
    width: 90px;
    border-radius: 5px;
}

#discard-container {
    display: flex;
    flex-direction: column;
    align-itms: center;
    height: 300px;
}

#discard-button {
    margin: 0;
    margin-bottom: 5px;
    align-self: center;
    color: #fff;
    background-color: red;
    border: none;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 280px;
}

#discard-button:hover {
    cursor: pointer;
}

#discard-area {
    list-style: none;
    display: flex;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 400px;
    height: 80px;
    border-radius: 5px;
    align-self: center;
    align-items: center;
    z-index: 20;
    top: 320px;
}

#discard-area img {
    border-radius: 5px;
    width: 50px;
    margin-right: 10px;
}

#discard-background {
    position: absolute;
    width: 400px;
    height: 80px;
    border-radius: 5px;
    align-self: center;
    border: 2px dashed red;
    top: 320px;
}

#play-button {
    width: 80px;
    padding: 5px;
    align-self: center;
    background-color: #232323;
    color: #fff;
}

#hand-area {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-self: end;
    justify-content: center;
    margin: 30px;
    width: 1000px;
}

#hand-area img {
    width: 80px;
    border-radius: 5px;
    margin-left: -30px;
}

.dragged {
    position: absolute;
}