body {
    overflow-x: hidden;
    font-family: arial, helvetica, sans-serif;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 0;
}

.hidden {
    display: none;
}

#darkout {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #454545;
    z-index: 30;
    opacity: 80%;
}

#game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    text-align: center;
    background-color: #F75E5E;
    color: #fff;
    border-radius: 15px;
    z-index: 40;
    padding: 30px;
}

#game-over h2 {
    font-size: 42px;
    font-weight: bold;
    margin: 0;
}

#game-over p {
    font-size: 24px;
}

#game-over a {
    width: 250px;
    border-radius: 10px;
    font-size: 18px;
    text-decoration: none;
    border: #fff solid 1px;
    color: #fff;
    background-color: #F75E5E;
    padding: 10px;
    margin-top: 50px;
}

#game-over a:hover {
    cursor: pointer;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-intro {
    color: #fff;
    text-align: center;
    background-color: #5590FE;
    padding: 25px;
    border-radius: 15px;
    margin-top: 20px;
    width: 800px;
}

#options {
    list-style: none;
}

#options li {
    text-align: center;
    border-radius: 20px;
    width: 400px;
    display: flex;
    justify-content: center;
}

#options li a {
    flex-grow: 1;
    color: #fff;
    background-color: #70AF89;
    padding: 20px;
    margin-top: 25px;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
}

#counts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#scoring {
    display: flex;
    flex-direction: column;
}

#scoring p {
    margin: 5px;
}

#scoring div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hand-type {
    text-align: center;
    color: #fff;
    background-color: #70AF89;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    font-size: 20px;
    margin-bottom: 5px;
}

#mult {
    width: 75px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #F75E5E;
    border-radius: 10px;
}

#seperator {
    font-size: 48px;
    font-weight: bold;
}

#points {
    margin: 0;
    width: 200px;
     color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #5590FE;
    border-radius: 10px;
}

#total {
    width: 350px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #B473E7;
    border-radius: 10px;
}

#right-side {
    display: flex;
    flex-direction: column;
}

#total-container {
    list-style: none;
    width: 200px;
    align-self: flex-end;
    text-align: right;
    background-color: #70AF89;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
}

#total-container li {
    margin: 5px;
    font-weight: bold;
}

#final-total {
    color: #fff;
    text-align: center;
    background-color: #70AF89;
    width: 400px;
    border-radius: 10px;
    font-size: 32px;
    font-weight: bold;
    padding: 20px;
    margin: 0;
}

#game-area {
    display: flex;
    flex-direction: column;
    height: 150px;
}

#play-background {
    height: 125px;
    width: 600px;
    margin-top: 16px;
    margin-bottom: 16px;
    align-self: center;
    border-radius: 10px;
    background-color: #B0C8B9;
    position: absolute;
}

#play-background p {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
}

#play-area {
    position: absolute;
    padding: 0;
    list-style: none;
    display: flex;
    align-self: center;
    align-items: center;
    height: 125px;
    width: 600px;
    border-radius: 10px;
    z-index: 20;    
}

#play-area img {
    margin: 10px;
    width: 70px;
    border-radius: 5px;
}

#discard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#discard-button {
    text-align: center;
    margin: 0;
    margin-top: 15px;
    color: #fff;
    background-color: #F75E5E;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

#discard-button:hover {
    cursor: pointer;
}

#discard-area {
    list-style: none;
    display: flex;
    position: relative;
    padding: 0;
    margin: 0;
    width: 400px;
    height: 80px;
    border-radius: 5px;
    align-items: center;
    z-index: 20;
    padding: 5px;
}

#discard-area img {
    border-radius: 5px;
    width: 50px;
    margin-right: 10px;
}

#discard-background {
    position: absolute;
    width: 400px;
    height: 80px;
    border-radius: 5px;
    align-self: center;
    border: 2px dashed #F75E5E;
    padding: 5px;
}

#discard-size {
    color: #F75E5E;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.crossed {
    background-image: url('./images/cross.png');
    background-size: 100% 100%;
    background-position: center;
}

#play-button {
    width: 100px;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    align-self: center;
    background-color: #5590FE;
    color: #fff;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
}

#play-button:hover {
    cursor: pointer;
}

#play-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hand-area {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

#hand-area img {
    width: 80px;
    border-radius: 5px;
    margin-left: -30px;
}

.dragged {
    position: absolute;
}